service: bluesky-bot-apod

provider:
  name: aws
  runtime: provided
  timeout: 20
  region: ap-northeast-1
  ecr:
    images:
      appImage:
        path: ./

functions:
  today:
    image:
      name: appImage
      command:
        - main.today
    events:
      - http:
          path: today
          method: post
