service: bluesky-bot-apod

provider:
  name: aws
  runtime: provided
  timeout: 30
  region: ap-northeast-1
  ecr:
    images:
      appImage:
        path: ./
        platform: linux/arm64
  architecture: arm64
  environment:
    BLUESKY_IDENTIFIER: ${env:BLUESKY_APOD_IDENTIFIER}
    BLUESKY_PASSWORD: ${env:BLUESKY_APOD_PASSWORD}

functions:
  postToday:
    environment:
        NASA_API_TOKEN: ${env:NASA_API_TOKEN}
    image:
      name: appImage
      command:
        - post.today
    events:
      - http:
          path: post/today
          method: post
  repostToday:
    image:
      name: appImage
      command:
        - repost.today
    events:
      - http:
          path: repost/today
          method: post
  repostAgainADayLater:
    image:
      name: appImage
      command:
        - repost.againADayLater
    events:
      - http:
          path: repost/againADayLater
          method: post
  repostAgainTwoDaysLater:
    image:
      name: appImage
      command:
        - repost.againTwoDaysLater
    events:
      - http:
          path: repost/againTwoDaysLater
          method: post
