service: bluesky-bot-apod

provider:
  name: aws
  runtime: provided
  timeout: 30
  region: ap-northeast-1
  ecr:
    images:
      appImage:
        path: ./
        platform: linux/arm64
  architecture: arm64
  environment:
    BLUESKY_IDENTIFIER: ${env:BLUESKY_APOD_IDENTIFIER}
    BLUESKY_PASSWORD: ${env:BLUESKY_APOD_PASSWORD}

functions:
  postToday:
    maximumRetryAttempts: 0
    environment:
        NASA_API_TOKEN: ${env:NASA_API_TOKEN}
    image:
      name: appImage
      command:
        - post.today
    events:
      - eventBridge:
          schedule: cron(0 8 * * ? *)
  postRecovery:
    maximumRetryAttempts: 0
    environment:
        NASA_API_TOKEN: ${env:NASA_API_TOKEN}
    image:
      name: appImage
      command:
        - post.recovery
    events:
      - eventBridge:
          schedule: cron(0 9,10 * * ? *)
  repost:
    maximumRetryAttempts: 0
    image:
      name: appImage
      command:
        - repost
    events:
      - eventBridge:
          schedule: cron(0 20 * * ? *)
  repostAgain:
    maximumRetryAttempts: 0
    image:
      name: appImage
      command:
        - repost.again
    events:
      - eventBridge:
          schedule: cron(0 11 * * ? *)
